@model UI.Web.ViewModels.Clientes.ClienteIndexViewModel
@{
    ViewBag.Title = "Clientes";
}

<script src="~/Scripts/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />

@section scripts{
    <script>
        $(document).ready(function () {
            $('#clientes').DataTable({
                "sDom":
                    '<"toolbar">frtip',
                stateSave: true,
                "language":
                {
                    "url": '@Url.Content("~/Content/JSON/Spanish.json")'
                },
                "columnDefs":
                    [{
                        bSortable: false,
                        aTargets: [-1]
                    }],
                "initComplete":
                    function (settings, json) {
                        $("div.toolbar").html(
                            '<a href="@Url.Action("Agregar", "Clientes")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Agregar</a>');
                    }
            })
        }
        );
    </script>
}

<div class="cabecera" style="margin-bottom: 20px;">
    Clientes
</div>

<div class="grilla-listados">
    <table id="clientes" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>E-Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Clientes)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.DNI)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Detalles", "Clientes", new { id = item.Id })" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="@Url.Action("Editar", "Clientes", new { id = item.Id })" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="@Url.Action("Eliminar", "Clientes", new { id = item.Id })" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

