@model UI.Web.ViewModels.Ventas.VentasEditarViewModel
@using UI.Web.Helpers;
@{
    ViewBag.Title = "Editar";
}

@using (Html.BeginForm("Editar", "Ventas", FormMethod.Post, new {  }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="cabecera" style="margin-bottom: 20px;">
        Editar Venta
    </div>

    <div class="row">
        <h3>Cliente: @Html.DisplayFor(model => model.Cliente.NombreCompleto)</h3>
        @Html.HiddenFor(model => model.Id)
    </div>


    <div class="cabecera" style="margin-bottom: 20px;">
        Formas de Pago
    </div>
    <div class="row">
        <div class="col-md-6">
            <table id="tabla-pagos" class="table table-bordered table-condensed table-responsive">
                <thead>
                    <tr style="background-color:gainsboro; font-weight:bold">
                        <th>Forma de Pago</th>
                        <th>Nueva Forma de Pago</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody style="background-color: #f9f9f9;">
                    @for (int i = 0; i < Model.Pagos.Count; i++)
                    {
                    <tr>
                        <td>
                            @Html.TextBoxFor(item => Model.Pagos[i].FormaDePago.Nombre, new { @readonly = "" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Pagos[i].Id, new { @readonly = "" })
                            @Html.DropDownListFor(model => model.Pagos[i].FormaDePagoID, new SelectList(ViewBag.FormasDePago, "Id", "Nombre"), "Seleccionar...", htmlAttributes: new { @class = "form-control", autofocus = "", passive = true })
                        </td>
                        @*<td class="acciones-fila-tabla form-inline" style="text-align:center; width:150px">
                            @Html.TextBoxFor(item => Model.Pagos[i].Monto, "{0:0.00}", new { @class = "form-control monto", style = "width: 100px", @readonly = "" })
                        </td>*@
                        <td>
                            @Html.DecimalFor(item => Model.Pagos[i].Monto, Model.Pagos[i].Monto, new { @id = Model.Pagos[i].FormaDePagoID, @class = "form-control monto", style = "width: 100px", required = "required", placeholder = "$", min = 0 })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<hr />
        <div class="row">
            <div class="form-group">
                <h3>
                    <label class="control-label" style="margin-left: 20px">
                        Total: $@Html.DisplayFor(model => model.Total)

                    </label>
                </h3>

            </div>
        </div>*@

    <div class="row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary" value="Editar">Aceptar</button>
            <a href="@Url.Action("Index", "Ventas")" class="btn btn-default">Cancelar</a>
        </div>
    </div>
}

