@model UI.Web.ViewModels.MovimientosEfectivo.MovimientoEfectivoAgregarViewModel
@{
    ViewBag.Title = "Agregar Movimiento";
}

@using (Html.BeginForm("Agregar", "MovimientosEfectivo", FormMethod.Post, new { @class = "formulario form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <fieldset>
            <legend>Agregar Movimiento</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoMovimientoID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TipoMovimientoID, new SelectList(ViewBag.TiposMovimientos, "Id", "Nombre"), "Seleccionar...", htmlAttributes: new { @class = "form-control", autofocus = "" })
                            @Html.HiddenFor(model => model.TipoMovimientoID)
                            @Html.ValidationMessageFor(model => model.TipoMovimientoID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FormaDePagoID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.FormaDePagoID, new SelectList(ViewBag.FormasDePago, "Id", "Nombre"), "Seleccionar...", htmlAttributes: new { @class = "form-control", autofocus = "" })
                            @Html.HiddenFor(model => model.FormaDePagoID)
                            @Html.ValidationMessageFor(model => model.FormaDePagoID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        @*Botones Aceptar y Cancelar*@
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="@Url.Action("Index", "MovimientosEfectivo")" class="btn btn-default">Cancelar</a>
            </div>
        </div>


    </div>
}