@model UI.Web.ViewModels.TiposMovimientosEfectivo.TipoMovimientoEfectivoEliminarViewModel
@{
    ViewBag.Title = "Eliminar Tipo de Movimiento de Efectivo";
}

<div class="cabecera">
    Eliminar Tipo de Movimiento de Efectivo
</div>

<div class="container">
    <fieldset>
        <legend>Información General</legend>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd>@Html.DisplayFor(model => model.Nombre)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Caja)</dt>
            <dd>@Html.DisplayFor(model => model.Caja)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Suma)</dt>
            <dd>@Html.DisplayFor(model => model.Suma)</dd>
        </dl>
    </fieldset>
    <div class="row">
        <div class="form-group col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button type="submit" name="Delete" value="Delete" class="btn btn-primary">Eliminar</button>
                    <a href="@Url.Action("Index", "TiposMovimientosEfectivo")" class="btn btn-default">Volver</a>
            }
        </div>
    </div>
</div>

