@model UI.Web.ViewModels.Articulos.ArticuloAgregarViewModel
@using UI.Web.Helpers;
@{
    ViewBag.Title = "Agregar Artículo";
}

<div class="cabecera">
    Agregar Artículo
</div>

@using (Html.BeginForm("Agregar", "Articulos", FormMethod.Post, new { @class = "formulario form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <fieldset>
            <legend>Información General</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RubroID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.RubroID, new SelectList(ViewBag.Rubros, "Id", "Nombre"), "Seleccionar...", htmlAttributes: new { @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrecioActualCompra, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.TextBoxFor(model => model.PrecioActualCompra, new { @class = "form-control" })*@
                            @Html.DecimalFor(model => model.PrecioActualCompra, Model.PrecioActualCompra, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PrecioActualCompra, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrecioActualVenta, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.TextBoxFor(model => model.PrecioActualVenta, new { @class = "form-control" })*@
                            @Html.DecimalFor(model => model.PrecioActualVenta, Model.PrecioActualVenta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PrecioActualVenta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Stock</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StockMinimo, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.StockMinimo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StockMinimo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StockMaximo, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.StockMaximo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StockMaximo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StockInicial, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.StockInicial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StockInicial, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>  
            </div>
        </fieldset>

        @*Botones Aceptar y Cancelar*@
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="@Url.Action("Index", "Articulos")" class="btn btn-default">Cancelar</a>
            </div>
        </div>

    </div>
}




