@model UI.Web.ViewModels.Articulos.ReporteViewModel

@{
    Layout = "~/Views/Shared/_LayoutVacio.cshtml";
}

@{
    ViewBag.Title = "Reporte Artículos";
}

@section scripts{
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.columnizer.js"></script>
@Scripts.Render("~/Scripts/bootstrap")
@Scripts.Render("~/Scripts/jqueryval")

<script>
        $(function () {
            var content_height = 800;	// the height of the content, discluding the header/footer 1060
            var page = 1;
            var finalPage = 1;
            ShowEventPopup();
            // the beginning page number to show in the footer
            function buildNewsletter() {
                if ($('#newsletterContent').contents().length > 0) {
                    // when we need to add a new page, use a jq object for a template
                    // or use a long HTML string, whatever your preference
                    $page = $("#page_template").clone().addClass("page").css("display", "block");

                    // fun stuff, like adding page numbers to the footer

                    $page.find(".footer span").append(page);
                    $("body").append($page);
                    page++;

                    // here is the columnizer magic
                    $('#newsletterContent').columnize({
                        columns: 1,
                        target: ".page:last .content",
                        overflow: {
                            height: content_height,
                            id: "#newsletterContent",
                            doneFunc: function () {
                                buildNewsletter();
                                HideEventPopup();
                            }
                        }
                    });
                }
                else {

                    $(".paginas").append(" de " + (page - 1));
                }
            }

            setTimeout(buildNewsletter, 0);

        });
</script>
}


@section AdditionalMeta{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom/customcss")
    @Scripts.Render("~/Scripts/modernizr")
}




<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />

<div class="cabecera" style="text-align:center">
    Reporte Artículos
</div>

<div class="container">
    <div id="page_template" class="wrapper" style="border:0 solid red; width:100%; height:900px; display:none; page-break-after: always">
        <div id="header" class="header dontsplit" style="border:0 dashed green; height:55px">
            <table style="margin: 0 auto">
                <tr>
                    <td>
                        @Model.CabeceraReporte
                    </td>
                </tr>
            </table>

        </div>
        <div id="content" class="content" style="border: 0 dashed blue; font-size:9pt;height:800px;">

        </div>
        <div id="footer" class="footer dontsplit" style="border:0 solid black; height:20px; text-align:center">
            <span style="text-align:center" class="paginas">Pág: </span>
        </div>
    </div>

</div>

<div id="newsletterContent" style="display:none;">

    @{
        <table style="margin: 0 auto">
            <tr>
                <td>
                    <button type="button" style="text-align:center" class="noPrint" name="Imprimir" value="Imprimir" onClick="window.print()"> Imprimir </button>
                </td>
                <td>
                    <a href="@Url.Action("Reporte", "Articulos")" class="noPrint"> Volver </a>
                </td>
            </tr>
        </table>

        if (Model.Articulos.Count > 0)
        {
            <div class="grilla-listados">
                <table id="articulos" style="margin: 0 auto;border-collapse: collapse;" class="table table-bordered">
                    <thead style="background-color:lightgray">
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="3" style="text-align:center"> Stock </th>
                        </tr>
                        <tr style="border-bottom: 1px solid #ccc;">
                            <th style="text-align:center">Sucursal</th>
                            <th style="text-align:center">Nombre</th>
                            @*<th style="text-align:center">Rubro</th>*@
                            <th style="text-align:center">Precio</th>

                            <th style="text-align:center">Mínimo</th>
                            <th style="text-align:center">Máximo</th>
                            <th style="text-align:center">Actual</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Articulos)
                        {
                            <tr style="border-bottom: 1px solid #ccc;">
                                <td style="text-align:center" width="100px">@Html.DisplayFor(modelItem => item.Sucursal.Nombre)</td>
                                <td width="300px">@Html.DisplayFor(modelItem => item.Articulo.Nombre)</td>
                                @*<td style="text-align:center" width="120px">@Html.DisplayFor(modelItem => item.Articulo.Rubro.Nombre)</td>*@
                                <td style="text-align:center" width="120px">@Html.DisplayFor(modelItem => item.Articulo.PrecioActualVenta)</td>
                                <td style="text-align:center" width="80px">@Html.DisplayFor(modelItem => item.Articulo.StockMinimo)</td>
                                <td style="text-align:center" width="80px">@Html.DisplayFor(modelItem => item.Articulo.StockMaximo)</td>
                                <td style="text-align:center" width="80px">@Html.DisplayFor(modelItem => item.StockActual)</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
    }




</div>

<div class="modal fade" id="popupEventForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:250px">
        <div class="modal-content" style="background-color: #FFF">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Generando Reporte...</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                @*<img src="/Content/Images/ajax-loader.GIF" alt="">*@
                <img src=@Url.Content("~/Content/Images/ajax-loader.GIF") alt="">
            </div>
        </div>
    </div>
</div>

<script>

    function ShowEventPopup() {
       
        $('#popupEventForm').modal('show');

    };

    function HideEventPopup() {
       
        $('#popupEventForm').modal('hide');

    };
</script>